# folder toofus is in its own repository
*/toofus

# apple things
*.DS_Store
*Icon?

# compiled applications
src/run
src/see
src/pac

# files that can be generated but not on repository
doc/SPICE-logo0.png
doc/SPICE-logo1.png
quick-start/build-sample/input.txt
*conf*
*stress.out.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
